.licna-karta {
    display: grid;
    font-family: Calibri, sans-serif;
    border-radius: 20px;
    width: 490px;
    height: 320px;
    padding: 12px 10px;
    padding-left: 28px;
    border: 3px solid black;
	grid-template: "sg bp rep rep rep"
	               "sg bp lk  lk  lk"
	               "fo fo pre pre cg"
	               "fo fo ime ime cg"
	               "fo fo dr  dr  cg"
	               "fo fo pol reg ss"
	               "fo fo diz diz ss"
	               "fo fo dva dva ss"
	               "di di di  di  po";
    grid-template-columns: 80px 80px
	                      100px 100px 130px;
	grid-template-rows: 30px 30px 37px 37px
	                    37px 37px 37px 37px 37px;
}

.sg {
    grid-area: sg;
    align-self: center;
    justify-self: center;
}

.rep {
    grid-area: rep;
    align-self: center;
}

.lk {
    grid-area: lk;
    align-self: center;
}

.fo {
    grid-area: fo;
    align-self: center;
    justify-self: center;
    margin-right: 12px;
}

.pre {
    grid-area: pre;
    align-self: center;
    margin-bottom: 3px;
}

.ime {
    grid-area: ime;
    align-self: center;
    margin-bottom: 3px;
}

.dr {
    grid-area: dr;
    align-self: center;
    margin-bottom: 3px;
}

.cg {
    grid-area: cg;
    align-self: end;
    justify-self: center;
}

.pol {
    grid-area: pol;
    align-self: center;
    margin-bottom: 3px;
}

.reg {
    grid-area: reg;
    align-self: center;
    margin-bottom: 3px;
}

.diz {
    grid-area: diz;
    align-self: center;
    margin-bottom: 3px;
}

.dva {
    grid-area: dva;
    align-self: center;
    margin-bottom: 3px;
}

.ss {
    grid-area: ss;
    align-self: center;
    justify-self: center;
}

.di {
    grid-area: di;
    align-self: center;
    margin-bottom: 3px;
}

.po {
    grid-area: po;
    align-self: center;
    justify-self: center;
}

.velika-slova {
    font-size: 18px;
    font-style: bold;
    color: #901;  
    line-height: 14px;
}

.mala-slova {
    font-size: 14px;
    font-style: italic;
    color: #aaa;
    line-height: 9px;
}

